<% provide(:title, "About") %> 

<div class="col-xs-12 col-sm-6 col-sm-offset-3 about_show">
  <h3> About </h3>
  <p> This is a collective blog by a few interested and in my opinion interesting individuals (see their profiles). The guiding question for each and every blog entry is: "What was your most interesting thought this week?". Any valid reponse to this question constitutes a valid blog entry. Otherwise there is only one rule of conduct, which is: <strong> Don't be boring! </strong> To quote J.R.R. Tolkien: “I warn you, if you bore me, I shall take my revenge." <br> <br> Enjoy writing, reading and commenting :) </p>
</div>




