<% provide(:title, "Thought of the week - Homepage") %> 

<div class="col-xs-10">
  <h1 id="title_question">What was your most interesting thought this week?</h1>

<% @all_posts.each do |post| %>
      <h4> <a href="<%= post_path(post) %>"> <%= post.title %> </a> </h4>
      <br>
    <% end %> 
</div>

<div class="col-xs-2">
  <h2 id="twitter_blue"> Contributors </h2>
    <% @users.each do |user| %>
      <p> <%= user.email %> </p> 
    <% end %>
</div> 


