<% provide(:title, "Thought of the week - Homepage") %> 

<div class="col-xs-10">
  <h1 id="title_question">What was your most interesting thought this week?</h1>

  <div id="container">
    <% @all_posts.each do |post| %>
      <div class="item"> <a href="<%= post_path(post) %>"> <%= post.title %> </a> <%= post.content %> </div>
    <% end %> 
  </div> 
</div>

<div class="col-xs-2">
  <h2 id="twitter_blue"> Contributors </h2>
    <% @users.each do |user| %>
      <p> <%= user.email %> </p> 
    <% end %>
</div> 


<!-- JQeury Masonry -->
<script>
  var container = document.querySelector('#container');
  var msnry = new Masonry( container, {
    // options
    itemSelector: '.item'
  });
</script> 
