<div class="col-xs-10">
  <h1>What was your most interesting thought this week?</h1>
  <h2> #interesting #insightful #future </h2>

    <% @all_posts.each do |post| %>
      <h3><%= post.title %> </h3>
      <p> <%= post.content %></p>
      <br>
    <% end %> 
</div>

<div class="col-xs-2">
  <h2> Contributors </h2>
  <p> List of contributors goes here. </p> 
    <% @users.each do |user| %>
      <p> <%= user.email %> </p> 
    <% end %> 
</div> 


