/* line 1, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/Johannes/code/teamblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
body {
  background: url(/assets/ny-9649ad04a1660478aafc383f29d96b6b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Courier;
  padding-bottom: 90px;
}
/* line 9, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
body .container-fluid {
  font-family: Courier;
  color: white;
}
/* line 12, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
body .container-fluid a {
  color: white;
}
/* line 15, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
body .container-fluid p {
  overflow: hidden;
}

/* line 22, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.header ul {
  position: block;
  margin-top: 10px;
  margin-right: 200px;
  width: 100%;
  list-style-type: none;
  margin-bottom: 0px;
}
/* line 30, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.header .inside_ul {
  float: right;
}
/* line 33, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.header li {
  display: inline;
  padding: 0px 5px;
  color: #A10000;
}
/* line 37, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.header li a {
  background-color: #A10000;
  padding: 5px 10px;
  opacity: 0.8;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  color: white;
}

/* Slogan */
/* line 51, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
h1#headline {
  margin-top: 45px;
  font-size: 37px;
  margin-bottom: 10px;
  color: #A10000;
}
@media (max-width: 890px) {
  /* line 51, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  h1#headline {
    font-size: 27px;
  }
}

/* Color */
/* line 62, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
#twitter_blue {
  color: #4499FF;
}

/* Post Index */
/* line 69, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.your_posts ol li {
  font-size: 22px;
  line-height: 1.25;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  /* line 75, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .your_posts ol li {
    font-size: 14px;
  }
}

/* Header Links Hover */
/* line 83, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
#header_link:hover {
  color: white;
}

/* line 87, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
#header_link_highlight {
  color: red;
}

/* line 91, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.sign_up_area {
  width: 300px;
}
/* line 93, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.sign_up_area input {
  margin-bottom: 10px;
}

/* POST SHOW */
/* line 102, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show_row {
  margin-top: 45px;
}

/* line 107, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_post img {
  width: 100%;
  height: auto;
  border: 8px solid white;
  border-radius: 4px;
}
/* line 113, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_post a:hover {
  background-color: white;
}
/* line 116, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_post h3 {
  line-height: 1.25;
  color: black;
}

/* line 122, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show {
  background-color: white;
  padding: 8px 50px 34px 45px;
  color: black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 25px;
}
/* line 130, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show p {
  font-size: 14px;
  line-height: 1.38;
  font-family: Courier;
}
/* line 135, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show h3 {
  margin-top: 0px;
  font-size: 29px;
}

@media (max-width: 767px) {
  /* line 144, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .image_on_post {
    display: none;
  }

  /* line 147, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .post_show {
    padding: 3px 14px 20px 14px;
  }
  /* line 149, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .post_show p {
    font-size: 13px;
  }
}
/* line 155, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show_sidebar {
  color: black;
}
/* line 157, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show_sidebar h3 {
  margin-top: 8px;
  margin-bottom: 0px;
  text-decoration: underline;
}
/* line 163, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show_sidebar h4 a {
  color: black;
  margin: 5px 0px;
  opacity: 0.8;
  color: black;
}
/* line 169, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.post_show_sidebar h4 a:hover {
  background-color: white;
}

@media (max-width: 992px) {
  /* line 176, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .post_show_sidebar {
    display: none;
  }
}
/* line 181, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.comment_content {
  margin-top: 30px;
}

/* PROFILE SHOW */
/* line 188, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_profile {
  margin-top: 45px;
}
/* line 190, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_profile img {
  width: 100%;
  height: auto;
  border: 8px solid white;
  border-radius: 4px;
}
/* line 196, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_profile a:hover {
  background-color: white;
}
/* line 199, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.profile_on_profile p {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Courier;
}

/* line 210, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile {
  margin-top: 45px;
  background-color: white;
  padding: 10px 40px 44px 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
/* line 217, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile h2 {
  color: black;
  background-color: #4499FF;
  margin-bottom: 30px;
}
/* line 222, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile h3 {
  color: black;
}
@media (max-width: 992px) {
  /* line 210, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .posts_on_profile {
    margin-top: 0px;
  }
}
@media (max-width: 550px) {
  /* line 229, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .posts_on_profile h2 {
    font-size: 20px;
  }
  /* line 232, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .posts_on_profile h3 {
    font-size: 18px;
  }
}
/* line 236, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile h3 {
  font-size: 23px;
}
/* line 238, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile h3 a:hover {
  background-color: #4499FF;
}
/* line 241, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile h3 a {
  color: black;
}
/* line 245, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.posts_on_profile p {
  margin-top: 0px;
}

/* Pin Wall - JQuery Masonry CSS */
/* line 252, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.one_post {
  padding: 7px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #444;
  width: 100%;
  background-color: #4499FF;
  margin-bottom: 7px;
}
/* line 253, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.one_post h4 {
  margin: 0 0 6px 0;
}
/* line 265, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.one_post p {
  margin: 4px 0px 0px 1px;
  display: inline;
  color: #5F5F5F;
}
/* line 270, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.one_post h4 {
  display: inline;
}
@media (max-width: 768px) {
  /* line 252, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .one_post {
    width: 100%;
    background-color: #4499FF;
  }
  /* line 274, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .one_post h4 {
    font-size: 16px;
  }
}

/* line 284, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.one_post:hover {
  background-color: #404040;
}

/* line 288, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.right_sidebar_on_homepage {
  margin-top: 94px;
  padding: 5px 35px 30px 35px;
  background-color: #A10000;
  opacity: 0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 296, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.right_sidebar_on_homepage h1 {
  font-size: 24px;
}
@media (max-width: 992px) {
  /* line 288, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
  .right_sidebar_on_homepage {
    margin-top: 18px;
  }
}

/* line 305, /Users/Johannes/code/teamblog/app/assets/stylesheets/styles.css.scss */
.small_header a {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  color: #A10000;
  font-size: 18px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

