<% provide(:title, "Your Posts") %> 

<div class="col-xs-12 col-sm-8 col-sm-offset-2 your_posts">
  <ol> 
    <% @posts.each do |post| %>
        <li id="twitter_blue"> <a href="<%= user_post_path(@user,post) %>" id="twitter_blue"> <%= post.title %> </a> - 
        <%= link_to 'Edit', edit_user_post_path(@user,post), id: "twitter_blue" %> -
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, id: "twitter_blue" %> </li>
    <% end %>
  </ol> 
</div>


<style>
.your_posts{
  background-color: white;
  padding: 45px 50px 35px 50px;
  margin-top: 80px;
}
</style>