<% provide(:title, "Your Posts") %> 

<div class="col-xs-8 col-xs-offset-2 your_posts">
  <h1 id="twitter_blue"> All Your Posts </h1> 
  <br>
  <br>

  <ol> 
    <% @posts.each do |post| %>
        <li id="twitter_blue"> <a href="<%= user_post_path(@user,post) %>" id="twitter_blue"> <%= post.title %> </a> - 
        <%= link_to 'Edit', edit_user_post_path(@user,post), id: "twitter_blue" %> -
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, id: "twitter_blue" %> </li>
    <% end %>
  </ol> 
</div>

