<div class="col-xs-6 col-xs-offset-3">
  <h3> <%= @post.title %> </h3>

  <p> <%= @post.content %> </p>

  <p> Other Posts by the same author: 
    <%= link_to "Posts", writers_posts_path(id: @post.user.id) %>
  </p> 
</div>
