<div class="col-xs-6 col-xs-offset-3 post_show">
  <h3> <%= @post.title %> </h3>
  <a href="#"> <h5> by <%= @post.user.email %> / All posts by author </h5> </a>
  <p> <%= @post.content %> </p>
</div>
