/* HOMEPAGE */

h1#headline{
  font-size: 37px;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #A10000;
  @media (max-width: 890px){
    font-size: 27px;   
  }
}

.one_post_on_homepage{
  background-color: #4499FF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #444;
  width: 100%;
  margin-bottom: 7px;
  padding: 7px;
  float: left;
  p{
    margin: 4px 0px 0px 1px;
    display: inline;
    color: #5F5F5F;
  }
  h4{
    margin: 0 0 6px 0;
    display: inline;
  }
  @media (max-width: 768px){
    h4{
      font-size: 16px; 
    }
  }
}

.one_post_on_homepage:hover{
  background-color: #404040;
}

.right_sidebar_on_homepage{
  margin-top: 81px;
  padding: 5px 35px 30px 35px;
  background-color: #A10000;
  opacity: 0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  h1{
    font-size: 24px;
  }
  @media (max-width: 992px){
    margin-top: 18px;
  }
}


























