body{
  background: asset-url("ny.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Courier; 
  padding-bottom: 90px;
  .container-fluid{
    font-family: Courier;
    /* Arial and Helvetica are alternatives here */
    color: white;
    a{
      color: white;
    }
  }
}


/* Slogan */
h1#title_question{
  color: #FF4E4E;
  font-size: 40px;
}

#twitter_blue{
  color: #4499FF;
}

/* Post Index */
.your_posts{
  ol{
    li{
      font-size: 22px; 
      line-height: 1.25;
      margin-bottom: 15px; 
    }
  }
}

/* Header Links Hover */
#header_link:hover{
  color: white;
}

/* Post show */
.about_show, .post_show{
  background-color: white; 
  padding: 25px 50px 34px 45px;
  color: black;
  border-radius: 4px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  p{
    font-size: 14px;
    line-height: 1.45;  
  }
  h3,a{
    background-color: #4499FF;
  }
}




.item{
  width: 300px; 
  height: 150px; 
  background-color: black;
}