body{
  background: asset-url("ny.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Courier; 
  padding-bottom: 90px;
  .container-fluid{
    font-family: Courier;
    /* Arial and Helvetica are alternatives here */
    color: white;
    a{
      color: white;
    }
  }
}

/* Slogan */
h1#title_question{
  color: #FF4E4E;
  font-size: 47px;
  margin-bottom: 30px;
  @media (max-width: 890px){
    font-size: 33px;   
  }
}

/* Color */
#twitter_blue{
  color: #4499FF;
}

/* Post Index */
.your_posts{
  ol{
    li{
      font-size: 22px; 
      line-height: 1.25;
      margin-bottom: 15px; 
    }
    @media (max-width: 768px){
      li{
        font-size: 14px; 
      }
    }
  }
}

/* Header Links Hover */
#header_link:hover{
  color: white;
}

#header_link_highlight{
 color: red; 
}

.sign_up_area{
  width: 300px;
  input{
    margin-bottom: 10px;
  }
}


/* POST SHOW */
.profile_on_post{
  img{
    width: 100%;
    height: auto;
    border: 8px solid white;
    border-radius: 4px;
  }
  a:hover{
    background-color: white;
  }
}

.about_show, .post_show{
  background-color: white; 
  padding: 25px 50px 34px 45px;
  color: black;
  border-radius: 4px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  margin-bottom: 25px;
  p{
    font-size: 14px;
    line-height: 1.45;  
    font-family: Courier;
  }
  h3, a{
    background-color: #4499FF;
  }
}

@media (max-width: 768px){
  .image_on_post{
    display: none;
  }
  .post_show{
    padding: 3px 14px 20px 14px;
    p{
      font-size: 13px;
    }
  }
}


/* PROFILE SHOW */

.profile_on_profile{
  img{
    width: 100%;
    height: auto;
    border: 8px solid white;
    border-radius: 4px;
  }
  a:hover{
    background-color: white;
  }
  p{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: Courier;
  }
}

.posts_on_profile{
  background-color: white;
  padding: 10px 40px 44px 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  h2{
    color: black;
    background-color: #4499FF; 
    margin-bottom: 30px;
  }
  @media (max-width: 450px){
    h2{
      font-size: 20px;
    }  
  }
  h3{
    font-size: 23px;
    a:hover{
      background-color: #4499FF;
    }
  }
  p{
    margin-top: 0px;
  }
}


/* Pin Wall - JQuery Masonry CSS */
.item{
  h4{
    background-color: #4499FF;
    margin: 0 0 6px 0;
  }
  margin: 4px;
  padding: 7px;
  font-size: 0px 12px 12px 12px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 22%;
  background-color: black;
  @media (max-width: 1200px){
    width: 30%;
  }
  p{
    margin: 4px 0px 0px 1px;
  }
  @media (max-width: 768px){
    h4{
      font-size: 16px; 
    }
    p{
      display: none;
    }
    width: 100%;
    background-color: #4499FF;
  }
}

@media (max-width: 768px){
  .homepage_right_sidebar{
    h2{
      font-size: 23px;
    }
  }
}

.item:hover{
  background-color: #404040;
}






